<html>
<head>
    <title>Blogging</title>
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="code icon">Blog Site</i></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
        </div>

</div>